#banner {
	height: 70vh;
	background-image: url("../images/banner.jpg");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-shadow: 1px 1px 1px orangered;
}

