@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:wght@100&family=Source+Serif+Pro:ital,wght@0,200;0,400;1,200;1,300;1,400&display=swap');
@import url("banner.css");
@import url("cardsbrunch.css");
@import url("footer1.css");
@import url("buttons.css");

a{
	text-decoration: none;
}

body {
	font-family: "Noto" sans-serif;
	margin: 0;
	text-align: center;
}

#bg-white a{
	display: inline;
	margin: 0 25px;
	color: black;
	background-color: white;
	font-size: 20px;

}

#bg-white a:hover{
	color: white;
	background-color: rgb(226, 171, 149);
	padding: 0;
}

#carousel-size {
	width: 90%;
    margin: 140px auto;
}

h2,h3{
	font-family: "Noto" cursive;
	color: black;
	font-size: 20px;
}

h1{
color: black
}

h4,h5 {
	font-family: "Noto" cursive;
	color: black;
	font-size: 12px;
}

h6 {
	font-family: "Noto" cursive;
	color: whitesmoke;
	font-size: 20px;
}

 #logo {
 display:block;
width:auto;
margin-left:auto;
margin-right:auto;
}
